<h1>Menu!</h1>

<h2>Available Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li><button class="js_updateBurger" data-id="{{this.id}}">EAT BURGER</button>{{this.burger_name}}</li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers Eaten!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li><button class="js_deleteBurger" data-id="{{this.id}}">DIGEST</button>{{this.burger_name}}</li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="name-txt">Burger Name:</label>
    <input type="text" id="name-txt" name="name">
  </div>

  <button id="submit-btn">Add Burger</button>
</form>